In [1]:
import pandas as pd 
import numpy as np

df = pd.read_csv('https://raw.githubusercontent.com/AugustLONG/ML01/master/01decisiontree/AllElectronics.csv')
df.drop("RID",axis=1, inplace = True) #RID는 그냥 Index라서 삭제

In [2]:
df

            age  income student credit_rating class_buys_computer
0         youth    high      no          fair                  no
1         youth    high      no     excellent                  no
2   middle_aged    high      no          fair                 yes
3        senior  medium      no          fair                 yes
4        senior     low     yes          fair                 yes
5        senior     low     yes     excellent                  no
6   middle_aged     low     yes     excellent                 yes
7         youth  medium      no          fair                  no
8         youth     low     yes          fair                 yes
9        senior  medium     yes          fair                 yes
10        youth  medium     yes     excellent                 yes
11  middle_aged  medium      no     excellent                 yes
12  middle_aged    high     yes          fair                 yes
13       senior  medium      no     excellent                  no

In [7]:
def getEntropy(df, feature) :
    
    entropy = 0
    values = list(df[feature].unique()) # 변수의 unique값들을 list로 지정한다.
    
    for value in values :
        p = sum(df[feature] == value) / len(df) # 변수 unique 각가 값들별로 p*log2(p) 를 구한후 빼주어
        entropy -= p*np.log2(p) # 엔트로피를 구해준다.
    
    return(entropy)

In [8]:
getEntropy(df, "class_buys_computer")

0.9402859586706311

In [17]:
def getGainA(df, feature) :
    info_D = getEntropy(df, feature) # 목표변수에 대한 Entropy 를 구하기 - 상위노드
    columns = list(df.loc[:, df.columns != feature]) # 목표변수(feature)를 제외한 나머지 변수들의 변수명을 리스트 형태로 저장
    result = []  # info_gain을 저장할 list
    
    for column in columns :  # 목표변수 feature을 제외하고 변수별로 엔트로피를 구해야 하기 때문에 for문을 통해 탐색한다.
        values = list(df[column].unique())
        info_A = 0      # 각각 변수의 Information 값 
        for value in values : # 변수마다 서로 다른 개수의 unique값이 존재하므로 각각에 대하여 entropy를 구해줘야 한다.
            info_A += (len(df[df[column] == value]) / len(df)) * getEntropy(df[df[column] == value], feature)
                       #여러 값들이 존재하기 때문에 가중치를 고려한 평균을 그 변수의 information 값으로 지정한다.
                       #우선 하나의 column과 unique value에 대하여 target 변수에 대한 엔트로피를 구한 후 column에 대하여 가중치를 구해서 곱해야 한다.
        info_gain = info_D - info_A
                       # 그 값을 다 더하고 상위 노드 taget에 대한 엔트로피에서 빼주면 그 변수에 대한 information gain을 구할 수 있다. 
        
        result.append([column, info_gain ])
    
    
    return(result)

In [18]:
getGainA(df, "class_buys_computer")

[['age', 0.24674981977443933],
 ['income', 0.02922256565895487],
 ['student', 0.15183550136234159],
 ['credit_rating', 0.04812703040826949]]